.galery {
    width: 100%;
    overflow: hidden;   
}
.galery_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.galery_container .galery_containerImgs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 3rem;
}
.galery_container .galery_containerImgs .image {
    width: 100%;
    overflow: hidden;
    max-height: 20rem;
}
@media(min-width:556px) {
    .galery_container .galery_containerImgs {
        width: 80%;
    }
    .galery_container .galery_containerImgs .image {
        min-width: 256px;
        width: 32%;
        overflow: hidden;
    }
}
.galery_container .galery_containerImgs .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
